body {
    font-family: Arial, sans-serif;
    background-color:#ee82ee;
    margin: 0;
    padding: 0;
}
title {
	color:purple;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:#8B008B;
    color: #fff;
    cursor: pointer;
}

.error-message {
    color: red;
    text-align: center;
}
